@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  background: var(--black);
}
body, button, input, select, textarea {
  font-family: 'Poppins', 'Arial', sans-serif;
  color: white;
}
:root {
  --purple:#5280e2;
  --green:#15CDCB;
  --black: #212226;
  --gray: #e0dede;

  --height-calc: 75px;
}
h1 {
  font-size: 44px;
  color: var(--green);
}
h2 {
  font-size: 24px;
  color: var(--gray);
}
h1, h2 {
  margin: 0;
  font-weight: 400;
}
p {
  color: var(--gray);
}
button {
  background: var(--purple);
  border: 0;
  border-radius: 16px;
  font-weight: bold;
  padding: 8px 35px;
  font-size: 18px;
}
header {
  height: calc(100vh - var(--height-calc));
  display: flex;
  align-items: center;
}
header .container img {
  display: none;
}
header .container {
  width: 50%;
  height:fit-content;
  padding: 0 100px;
}
header .container button {
  margin-top: 40px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--height-calc);
  padding: 0 100px;
  background: var(--black);
  position: sticky;
  top: 0;

}
nav img {
  height: 70px;
}
nav ul {
  width: 100%; /* ocupar 100% do espaço que tem */
  display: flex; /* ficar todas lado a lado */
  justify-content: space-around; /* espaçamento (margin) entre topicos */
}
nav ul a svg {
  display: none;
}
nav ul a {
  font-size: 20px;
  text-decoration: none;
  color: var(--green);
}
.about-me {
  display: flex;
  padding: 100px;
}
.about-me .container {
  width: 50%;
  padding-right: 50px;
}
.about-me .image-container {
  width: 50%;
  text-align: center;
  position: relative;
}
.about-me .image-container img {
  width: 70%;
  height: 100%;
}
.about-me .image-container .line {
  width: calc(70% + 50px);
  height: calc(100% + 50px);
  border: 1px solid var(--purple);

  position: absolute;
  top: -25px;
  left: calc(50% - 70%/2 - 25px);
}
.about-me .image-container .line.green {
  transform: rotate(-3.3deg);
  color: var(--green);
}

/* RESPONSIVIDADE */
/* small desktops */
@media (max-width:1000px){
  header .container {
    width: 100%;
  }
  nav ul a {
    font-size: 18px;
  }
  nav {
    padding: 0 30px;
  }
}
/* tablet */
@media (max-width:767px){
  header .container img {
    display: inline;
    margin-bottom: 70px;
  }
  nav img {
    display: none;
  }
  nav ul {
    padding: 0;
  }
  nav ul a {
    font-size: 16px;
  }
}
/* celular */
@media (max-width:480px){
  header .container {
    padding: 0 40px;
  }
  nav {
    padding: 0 15px;
    width:100%;
    bottom: 0;
    position: fixed;
    top: unset;
  }
  nav ul a {
    font-size:12px;
  }
  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }
}